@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Myanmar:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,500&display=swap");
@import url("https://mmwebfonts.comquas.com/fonts/?font=pyidaungsu");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-glass {
        background: rgba(255, 255, 255, 0.09);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.4px);
        -webkit-backdrop-filter: blur(2.4px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
}
